.cart {
    background-color: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart p {
    font-size: 17px;
}

.btn-clear-cart {
    /* background-color: #FF3030;
    width: 232px;
    height: 48px;
    margin-bottom: 10px;
    color: white; */
    width: 100%;
    height: 56px;
    margin: 10px auto;
    border-radius: 10px;
    background-color:#FF3030;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

